@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EBEBEB;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ff-poppins {
  font-family: var(--font-poppins);
}

.ff-anonympro {
  font-family: var(--font-anonympro);
}
